In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Load the dataset
data = pd.read_csv('train.csv.csv')

In [3]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
data = pd.read_csv('test.csv.csv')

In [5]:
X = data.drop(['LoanAmount'], axis=1)
y = data['LoanAmount']

In [7]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [1]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)

In [ ]:
# Make predictions on the testing set
y_pred = model.predict(X_test)

In [ ]:
mse = mean_squared_error(y_test, y_pred)
print('Mean squared error:', mse)

In [ ]:
# Predict the loan amount for a new borrower
new_borrower = pd.DataFrame({
    'Credit_History': [1],
    'Loan_Amount_Term': [360],
    'LoanAmount_log': [np.log(120)],
    'Gender_Male': [1],
    'Married_Yes': [0],
    'Dependents_1': [0],
    'Dependents_2': [0],
    'Dependents_3+': [0],
    'Education_Not Graduate': [1],
    'Self_Employed_Yes': [0],
    'Property_Area_Rural': [0],
    'Property_Area_Semiurban': [1],
    'Property_Area_Urban': [0]

In [ ]:
loan_amount = model.predict(new_borrower)[0]
print('Predicted loan amount:', loan_amount)